In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('sample_Electrocardiogram.csv')
data2=pd.read_csv('sample_laboratory.csv')

In [3]:
data1.describe()

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI
count,49649.000000,49648.000000,39118.000000,41007.000000,49649.000000,49649.000000,37066.000000,38686.000000,38683.000000,49649.000000
mean,231909.477311,852.358705,156.998696,91.033726,390.145804,425.326734,48.350753,45.118389,46.181785,7.622228
std,134521.849447,179.021793,26.551953,14.837618,43.050241,31.710068,24.915308,37.399073,38.524236,3.075752
min,24.000000,226.000000,72.000000,8.000000,108.000000,135.000000,-88.000000,-89.000000,-89.000000,0.000000
25%,114617.000000,740.250000,140.000000,82.000000,366.000000,405.000000,35.000000,22.000000,28.000000,6.000000
50%,235228.000000,857.000000,154.000000,88.000000,390.000000,420.000000,52.000000,51.000000,44.000000,8.000000
75%,348822.000000,968.000000,172.000000,98.000000,414.000000,440.000000,65.000000,71.000000,59.000000,10.000000
max,461793.000000,2143.000000,632.000000,254.000000,852.000000,844.000000,270.000000,270.000000,270.000000,22.000000

In [4]:
data2.describe()

            personid        labname       labvalue
count  194492.000000  194492.000000  194492.000000
mean   230771.058105       1.908654       5.546033
std    135625.091661       0.902702       3.694288
min        24.000000       1.000000       0.200000
25%    109459.000000       1.000000       3.500000
50%    234709.000000       2.000000       4.300000
75%    349291.000000       3.000000       8.600000
max    461793.000000       3.000000     168.000000

In [5]:
df_merged = data1.merge(data2[['personid', 'labname','labdate','labvalue']])

In [6]:
df_merged

,personid,ecgdate,ecgdept,ecgsource,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labdate,labvalue
0,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2013-05-23 00:31:38,9.5
1,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,1,2013-05-23 00:31:38,3.7
2,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2004-10-20 11:30:00,9.6
3,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,3,2013-05-23 00:31:38,9.5
4,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,1,2013-05-23 00:31:38,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142438,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,3,2010-11-28 04:13:07,8.8
1142439,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,1,2010-11-28 04:13:07,3.9
1142440,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,3,2007-01-08 11:16:00,9.4
1142441,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,1,2007-01-08 11:16:00,4.4
1142442,338421,2003-12-22 11:17:25,O,M,1053.0,136.0,84.0,390,379,35.0,89.0,49.0,6,3,2003-12-23 11:09:00,9.4

In [7]:
df_merged.dropna(inplace=True)

In [8]:
df_merged.describe()

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
count,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000
mean,232441.984398,808.861281,158.316274,91.514696,390.015466,436.922661,48.516499,38.664198,53.183664,9.924984,1.884008,5.442715
std,138389.082158,177.996977,27.776705,16.462258,46.712328,40.021123,24.985585,36.444586,47.205481,2.722433,0.891136,3.676708
min,24.000000,278.000000,72.000000,8.000000,196.000000,266.000000,-88.000000,-89.000000,-89.000000,0.000000,1.000000,0.200000
25%,109459.000000,682.000000,140.000000,82.000000,362.000000,409.000000,36.000000,15.000000,29.000000,8.000000,1.000000,3.500000
50%,240973.000000,800.000000,156.000000,88.000000,388.000000,428.000000,52.000000,42.000000,48.000000,10.000000,2.000000,4.400000
75%,355207.000000,923.000000,172.000000,98.000000,416.000000,455.000000,65.000000,65.000000,66.000000,11.000000,3.000000,8.500000
max,461793.000000,2143.000000,490.000000,194.000000,710.000000,787.000000,270.000000,270.000000,270.000000,19.000000,3.000000,168.000000

In [9]:
df_merged['ecgdate'] = pd.to_datetime(df_merged['ecgdate'])
df_merged['labdate'] = pd.to_datetime(df_merged['labdate'])

In [10]:
df_merged

,personid,ecgdate,ecgdept,ecgsource,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labdate,labvalue
0,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2013-05-23 00:31:38,9.5
1,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,1,2013-05-23 00:31:38,3.7
2,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2004-10-20 11:30:00,9.6
3,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,3,2013-05-23 00:31:38,9.5
4,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,1,2013-05-23 00:31:38,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142438,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,3,2010-11-28 04:13:07,8.8
1142439,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,1,2010-11-28 04:13:07,3.9
1142440,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,3,2007-01-08 11:16:00,9.4
1142441,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,1,2007-01-08 11:16:00,4.4
1142442,338421,2003-12-22 11:17:25,O,M,1053.0,136.0,84.0,390,379,35.0,89.0,49.0,6,3,2003-12-23 11:09:00,9.4

In [11]:
df_filtered = df_merged[(df_merged['ecgdate'] - df_merged['labdate']).dt.days == 1][['personid','RR',	'PR',	'QRS',	'QT'	,'QTc'	,'P_wave_axis'	,'QRS_axis',	'T_wave_axis'	,'ACCI',	'labname','labvalue']]

In [12]:
df_filtered

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,2,1.8

labname (1 = serum potassium, 2 = serum magnesium, 3 = serum calcium)

potasuim normal 3.5-5
calsuim 8.5-10.5
magnesium 1.5-2.5

In [13]:
df = df_filtered.drop_duplicates(subset=['personid', 'labname', 'labvalue'])

In [14]:
df

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,2,1.8

In [15]:
df.drop('ACCI',inplace=True, axis=1)

C:\Users\HF\AppData\Local\Temp\ipykernel_18704\2043908414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('ACCI',inplace=True, axis=1)

In [16]:
df

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,2,1.8

In [17]:
data=df

In [18]:


# Define the labname you want to check and its normal range
labname_to_check = 3  # Change this to the labname you want to check
normal_range_min = 1.5
normal_range_max = 2.5

# Filter rows where labname is the one we're interested in
filtered_data = data[data['labname'] == labname_to_check]

# Count total instances of this labname
total_instances = len(filtered_data)

# Count instances where labvalue is within the normal range
normal_instances = filtered_data[(filtered_data['labvalue'] >= normal_range_min) & (filtered_data['labvalue'] <= normal_range_max)]

# Calculate how many are within the normal range
normal_count = len(normal_instances)

# Print results
print(f"Total instances of labname {labname_to_check}: {total_instances}")
print(f"Instances within normal range ({normal_range_min} to {normal_range_max}): {normal_count}")
print(f"Percentage of normal values: {normal_count / total_instances * 100:.2f}%")

Total instances of labname 3: 1088
Instances within normal range (1.5 to 2.5): 0
Percentage of normal values: 0.00%

In [19]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, LSTM, Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, TensorBoard
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import datetime

In [20]:
data

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,2,1.8

In [21]:
# Separate features and targets
X = data[['RR', 'PR', 'QRS', 'QT', 'QTc', 'P_wave_axis', 'QRS_axis', 'T_wave_axis']].values  # Replace with actual feature columns
y_labname = data['labname'].values  # Classification target
y_labvalue = data['labvalue'].values  # Regression target

In [22]:
# One-hot encode the classification target
y_labname = data['labname'].values

In [23]:
y_labname = y_labname - 1  # Adjust if necessary to ensure indices start from 0 (0, 1, 2 for classes)
num_classes = len(np.unique(y_labname))  # Should be 3 in this case
y_labname = tf.keras.utils.to_categorical(y_labname, num_classes=num_classes)

In [24]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Reshape X for CNN input
X = X.reshape(X.shape[0], X.shape[1], 1)

In [25]:


# Split the data into training and testing sets
X_train, X_test, y_train_labname, y_test_labname, y_train_labvalue, y_test_labvalue = train_test_split(
    X, y_labname, y_labvalue, test_size=0.2, random_state=42
)

In [47]:
inputs = Input(shape=(X.shape[1], 1))


x = LSTM(64, return_sequences=True)(inputs)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

x = LSTM(128, return_sequences=False)(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

x = Dense(128, activation='relu')(x)
x = BatchNormalization()(x)
x = Dropout(0.5)(x)

x = Dense(64, activation='relu')(x)
x = BatchNormalization()(x)
x = Dropout(0.5)(x)

x = Dense(256, activation='relu')(x)
x = BatchNormalization()(x)
x = Dropout(0.5)(x)

x = Dense(256, activation='relu')(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)


output_class = Dense(num_classes, activation='softmax', name='classification_output')(x)


output_regression = Dense(1, activation='linear', name='regression_output')(x)


model = Model(inputs=inputs, outputs=[output_class, output_regression])

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.0005),  
    loss={'classification_output': 'categorical_crossentropy', 'regression_output': 'mse'},
    metrics={'classification_output': 'accuracy', 'regression_output': 'mae'}
)
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_4 (InputLayer)        [(None, 8, 1)]               0         []

 lstm_6 (LSTM)               (None, 8, 64)                16896     ['input_4[0][0]']

 batch_normalization_8 (Bat  (None, 8, 64)                256       ['lstm_6[0][0]']
 chNormalization)

 dropout_16 (Dropout)        (None, 8, 64)                0         ['batch_normalization_8[0][0]'
                                                                    ]

 lstm_7 (LSTM)               (None, 128)                  98816     ['dropout_16[0][0]']

 batch_normalization_9 (Bat  (None, 128)                  512       ['lstm_7[0][0]']
 chNormalization)

 dropout_17 (Dropout)        (None, 128)                  0         ['batch_normalization_9[0][0]'
                                                                    ]

 dense_10 (Dense)            (None, 128)                  16512     ['dropout_17[0][0]']

 batch_normalization_10 (Ba  (None, 128)                  512       ['dense_10[0][0]']
 tchNormalization)

 dropout_18 (Dropout)        (None, 128)                  0         ['batch_normalization_10[0][0]
                                                                    ']

 dense_11 (Dense)            (None, 64)                   8256      ['dropout_18[0][0]']

 batch_normalization_11 (Ba  (None, 64)                   256       ['dense_11[0][0]']
 tchNormalization)

 dropout_19 (Dropout)        (None, 64)                   0         ['batch_normalization_11[0][0]
                                                                    ']

 dense_12 (Dense)            (None, 256)                  16640     ['dropout_19[0][0]']

 batch_normalization_12 (Ba  (None, 256)                  1024      ['dense_12[0][0]']
 tchNormalization)

 dropout_20 (Dropout)        (None, 256)                  0         ['batch_normalization_12[0][0]
                                                                    ']

 dense_13 (Dense)            (None, 256)                  65792     ['dropout_20[0][0]']

 batch_normalization_13 (Ba  (None, 256)                  1024      ['dense_13[0][0]']
 tchNormalization)

 dropout_21 (Dropout)        (None, 256)                  0         ['batch_normalization_13[0][0]
                                                                    ']

 classification_output (Den  (None, 3)                    771       ['dropout_21[0][0]']
 se)

 regression_output (Dense)   (None, 1)                    257       ['dropout_21[0][0]']

==================================================================================================
Total params: 227524 (888.77 KB)
Trainable params: 225732 (881.77 KB)
Non-trainable params: 1792 (7.00 KB)
__________________________________________________________________________________________________

In [35]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [48]:
callbacks = [
    ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=1e-6),
    EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True),
    TensorBoard(log_dir=log_dir, histogram_freq=1)
]

In [43]:
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_3 (InputLayer)        [(None, 8, 1)]               0         []

 lstm_4 (LSTM)               (None, 8, 64)                16896     ['input_3[0][0]']

 batch_normalization_4 (Bat  (None, 8, 64)                256       ['lstm_4[0][0]']
 chNormalization)

 dropout_10 (Dropout)        (None, 8, 64)                0         ['batch_normalization_4[0][0]'
                                                                    ]

 lstm_5 (LSTM)               (None, 128)                  98816     ['dropout_10[0][0]']

 batch_normalization_5 (Bat  (None, 128)                  512       ['lstm_5[0][0]']
 chNormalization)

 dropout_11 (Dropout)        (None, 128)                  0         ['batch_normalization_5[0][0]'
                                                                    ]

 dense_6 (Dense)             (None, 128)                  16512     ['dropout_11[0][0]']

 dropout_12 (Dropout)        (None, 128)                  0         ['dense_6[0][0]']

 dense_7 (Dense)             (None, 64)                   8256      ['dropout_12[0][0]']

 batch_normalization_6 (Bat  (None, 64)                   256       ['dense_7[0][0]']
 chNormalization)

 dropout_13 (Dropout)        (None, 64)                   0         ['batch_normalization_6[0][0]'
                                                                    ]

 dense_8 (Dense)             (None, 256)                  16640     ['dropout_13[0][0]']

 dropout_14 (Dropout)        (None, 256)                  0         ['dense_8[0][0]']

 dense_9 (Dense)             (None, 256)                  65792     ['dropout_14[0][0]']

 batch_normalization_7 (Bat  (None, 256)                  1024      ['dense_9[0][0]']
 chNormalization)

 dropout_15 (Dropout)        (None, 256)                  0         ['batch_normalization_7[0][0]'
                                                                    ]

 classification_output (Den  (None, 3)                    771       ['dropout_15[0][0]']
 se)

 regression_output (Dense)   (None, 1)                    257       ['dropout_15[0][0]']

==================================================================================================
Total params: 225988 (882.77 KB)
Trainable params: 224964 (878.77 KB)
Non-trainable params: 1024 (4.00 KB)
__________________________________________________________________________________________________

In [49]:
model.fit(
    X_train,
    {'classification_output': y_train_labname, 'regression_output': y_train_labvalue},
    epochs=50,
    batch_size=32,
    validation_data=(X_test, {'classification_output': y_test_labname, 'regression_output': y_test_labvalue}),
    callbacks=callbacks
)

Epoch 1/50
96/96 [==============================] - 14s 50ms/step - loss: 44.1771 - classification_output_loss: 1.6458 - regression_output_loss: 42.5313 - classification_output_accuracy: 0.3331 - regression_output_mae: 4.7304 - val_loss: 36.1328 - val_classification_output_loss: 1.0822 - val_regression_output_loss: 35.0506 - val_classification_output_accuracy: 0.4659 - val_regression_output_mae: 3.8512 - lr: 5.0000e-04
Epoch 2/50
96/96 [==============================] - 4s 38ms/step - loss: 35.4378 - classification_output_loss: 1.5049 - regression_output_loss: 33.9330 - classification_output_accuracy: 0.3416 - regression_output_mae: 3.9171 - val_loss: 29.3958 - val_classification_output_loss: 1.0706 - val_regression_output_loss: 28.3252 - val_classification_output_accuracy: 0.4646 - val_regression_output_mae: 3.0498 - lr: 5.0000e-04
Epoch 3/50
96/96 [==============================] - 3s 35ms/step - loss: 28.9736 - classification_output_loss: 1.3709 - regression_output_loss: 27.6027 - classification_output_accuracy: 0.3531 - regression_output_mae: 3.2708 - val_loss: 24.9546 - val_classification_output_loss: 1.0630 - val_regression_output_loss: 23.8916 - val_classification_output_accuracy: 0.4711 - val_regression_output_mae: 2.6005 - lr: 5.0000e-04
Epoch 4/50
92/96 [===========================>..] - ETA: 0s - loss: 23.0792 - classification_output_loss: 1.3308 - regression_output_loss: 21.7484 - classification_output_accuracy: 0.3638 - regression_output_mae: 2.8653

KeyboardInterrupt:

In [50]:
# Evaluate the model
loss, class_loss, reg_loss, class_acc, reg_mae = model.evaluate(
    X_test,
    {'classification_output': y_test_labname, 'regression_output': y_test_labvalue}
)

print(f'Test Loss: {loss}, Classification Accuracy: {class_acc}, Regression MAE: {reg_mae}')

24/24 [==============================] - 0s 10ms/step - loss: 22.7114 - classification_output_loss: 1.0630 - regression_output_loss: 21.6484 - classification_output_accuracy: 0.4711 - regression_output_mae: 2.3759
Test Loss: 22.71136474609375, Classification Accuracy: 0.4711286127567291, Regression MAE: 2.3759140968322754

In [33]:
model.save('ecg.pkl')

INFO:tensorflow:Assets written to: ecg.pkl\assets

INFO:tensorflow:Assets written to: ecg.pkl\assets