In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('sample_Electrocardiogram.csv')
data2=pd.read_csv('sample_laboratory.csv')

In [3]:
data1.describe()

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI
count,49649.000000,49648.000000,39118.000000,41007.000000,49649.000000,49649.000000,37066.000000,38686.000000,38683.000000,49649.000000
mean,231909.477311,852.358705,156.998696,91.033726,390.145804,425.326734,48.350753,45.118389,46.181785,7.622228
std,134521.849447,179.021793,26.551953,14.837618,43.050241,31.710068,24.915308,37.399073,38.524236,3.075752
min,24.000000,226.000000,72.000000,8.000000,108.000000,135.000000,-88.000000,-89.000000,-89.000000,0.000000
25%,114617.000000,740.250000,140.000000,82.000000,366.000000,405.000000,35.000000,22.000000,28.000000,6.000000
50%,235228.000000,857.000000,154.000000,88.000000,390.000000,420.000000,52.000000,51.000000,44.000000,8.000000
75%,348822.000000,968.000000,172.000000,98.000000,414.000000,440.000000,65.000000,71.000000,59.000000,10.000000
max,461793.000000,2143.000000,632.000000,254.000000,852.000000,844.000000,270.000000,270.000000,270.000000,22.000000

In [4]:
data2.describe()

            personid        labname       labvalue
count  194492.000000  194492.000000  194492.000000
mean   230771.058105       1.908654       5.546033
std    135625.091661       0.902702       3.694288
min        24.000000       1.000000       0.200000
25%    109459.000000       1.000000       3.500000
50%    234709.000000       2.000000       4.300000
75%    349291.000000       3.000000       8.600000
max    461793.000000       3.000000     168.000000

In [5]:
df_merged = data1.merge(data2[['personid', 'labname','labdate','labvalue']])

In [6]:
df_merged

,personid,ecgdate,ecgdept,ecgsource,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labdate,labvalue
0,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2013-05-23 00:31:38,9.5
1,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,1,2013-05-23 00:31:38,3.7
2,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2004-10-20 11:30:00,9.6
3,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,3,2013-05-23 00:31:38,9.5
4,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,1,2013-05-23 00:31:38,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142438,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,3,2010-11-28 04:13:07,8.8
1142439,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,1,2010-11-28 04:13:07,3.9
1142440,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,3,2007-01-08 11:16:00,9.4
1142441,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,1,2007-01-08 11:16:00,4.4
1142442,338421,2003-12-22 11:17:25,O,M,1053.0,136.0,84.0,390,379,35.0,89.0,49.0,6,3,2003-12-23 11:09:00,9.4

In [7]:
df_merged.dropna(inplace=True)

In [8]:
df_merged.describe()

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
count,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000,898077.000000
mean,232441.984398,808.861281,158.316274,91.514696,390.015466,436.922661,48.516499,38.664198,53.183664,9.924984,1.884008,5.442715
std,138389.082158,177.996977,27.776705,16.462258,46.712328,40.021123,24.985585,36.444586,47.205481,2.722433,0.891136,3.676708
min,24.000000,278.000000,72.000000,8.000000,196.000000,266.000000,-88.000000,-89.000000,-89.000000,0.000000,1.000000,0.200000
25%,109459.000000,682.000000,140.000000,82.000000,362.000000,409.000000,36.000000,15.000000,29.000000,8.000000,1.000000,3.500000
50%,240973.000000,800.000000,156.000000,88.000000,388.000000,428.000000,52.000000,42.000000,48.000000,10.000000,2.000000,4.400000
75%,355207.000000,923.000000,172.000000,98.000000,416.000000,455.000000,65.000000,65.000000,66.000000,11.000000,3.000000,8.500000
max,461793.000000,2143.000000,490.000000,194.000000,710.000000,787.000000,270.000000,270.000000,270.000000,19.000000,3.000000,168.000000

In [9]:
df_merged['ecgdate'] = pd.to_datetime(df_merged['ecgdate'])
df_merged['labdate'] = pd.to_datetime(df_merged['labdate'])

In [10]:
df_merged

,personid,ecgdate,ecgdept,ecgsource,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labdate,labvalue
0,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2013-05-23 00:31:38,9.5
1,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,1,2013-05-23 00:31:38,3.7
2,457104,2013-05-23 03:50:09,I,M,968.0,178.0,72.0,418,424,48.0,18.0,41.0,12,3,2004-10-20 11:30:00,9.6
3,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,3,2013-05-23 00:31:38,9.5
4,457104,1998-02-09 09:12:00,H,M,909.0,152.0,80.0,384,402,39.0,10.0,27.0,9,1,2013-05-23 00:31:38,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142438,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,3,2010-11-28 04:13:07,8.8
1142439,199809,2010-11-28 09:39:42,E,M,606.0,156.0,88.0,364,467,32.0,28.0,41.0,6,1,2010-11-28 04:13:07,3.9
1142440,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,3,2007-01-08 11:16:00,9.4
1142441,197458,2007-01-08 11:19:03,O,M,690.0,134.0,74.0,380,457,7.0,58.0,29.0,6,1,2007-01-08 11:16:00,4.4
1142442,338421,2003-12-22 11:17:25,O,M,1053.0,136.0,84.0,390,379,35.0,89.0,49.0,6,3,2003-12-23 11:09:00,9.4

In [11]:
df_filtered = df_merged[(df_merged['ecgdate'] - df_merged['labdate']).dt.days == 1][['personid','RR',	'PR',	'QRS',	'QT'	,'QTc'	,'P_wave_axis'	,'QRS_axis',	'T_wave_axis'	,'ACCI',	'labname','labvalue']]

In [12]:
df_filtered

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,2,1.8

labname (1 = serum potassium, 2 = serum magnesium, 3 = serum calcium)

potasuim normal 3.5-5
calsuim 8.5-10.5
magnesium 1.5-2.5

In [13]:
df = df_filtered.drop_duplicates(subset=['personid', 'labname', 'labvalue'])

In [14]:
df

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,ACCI,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,7,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,7,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,7,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,10,2,1.8

In [15]:
df.drop('ACCI',inplace=True, axis=1)

C:\Users\HF\AppData\Local\Temp\ipykernel_22036\2043908414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('ACCI',inplace=True, axis=1)

In [16]:
df

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,2,1.8

In [17]:
data=df

In [18]:


# Define the labname you want to check and its normal range
labname_to_check = 3  # Change this to the labname you want to check
normal_range_min = 1.5
normal_range_max = 2.5

# Filter rows where labname is the one we're interested in
filtered_data = data[data['labname'] == labname_to_check]

# Count total instances of this labname
total_instances = len(filtered_data)

# Count instances where labvalue is within the normal range
normal_instances = filtered_data[(filtered_data['labvalue'] >= normal_range_min) & (filtered_data['labvalue'] <= normal_range_max)]

# Calculate how many are within the normal range
normal_count = len(normal_instances)

# Print results
print(f"Total instances of labname {labname_to_check}: {total_instances}")
print(f"Instances within normal range ({normal_range_min} to {normal_range_max}): {normal_count}")
print(f"Percentage of normal values: {normal_count / total_instances * 100:.2f}%")

Total instances of labname 3: 1088
Instances within normal range (1.5 to 2.5): 0
Percentage of normal values: 0.00%

In [19]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, LSTM, Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, TensorBoard
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import datetime

In [20]:
data

,personid,RR,PR,QRS,QT,QTc,P_wave_axis,QRS_axis,T_wave_axis,labname,labvalue
74,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,1,4.2
75,174857,984.0,178.0,98.0,406,408,68.0,73.0,41.0,3,9.7
187,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,3,9.3
191,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,2,1.7
192,174857,1071.0,196.0,104.0,420,405,57.0,72.0,52.0,1,3.7
...,...,...,...,...,...,...,...,...,...,...,...
1142200,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,3,8.8
1142202,66827,645.0,132.0,86.0,356,442,64.0,73.0,31.0,1,3.0
1142217,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,1,3.6
1142218,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,3,9.1
1142219,385267,1071.0,172.0,100.0,430,414,63.0,16.0,49.0,2,1.8

In [21]:
# Separate features and targets
X = data[['RR', 'PR', 'QRS', 'QT', 'QTc', 'P_wave_axis', 'QRS_axis', 'T_wave_axis']].values  # Replace with actual feature columns
y_labname = data['labname'].values  # Classification target
y_labvalue = data['labvalue'].values  # Regression target

In [22]:
# One-hot encode the classification target
y_labname = data['labname'].values

In [23]:
y_labname = y_labname - 1  # Adjust if necessary to ensure indices start from 0 (0, 1, 2 for classes)
num_classes = len(np.unique(y_labname))  # Should be 3 in this case
y_labname = tf.keras.utils.to_categorical(y_labname, num_classes=num_classes)

In [24]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Reshape X for CNN input
X = X.reshape(X.shape[0], X.shape[1], 1)

In [25]:


# Split the data into training and testing sets
X_train, X_test, y_train_labname, y_test_labname, y_train_labvalue, y_test_labvalue = train_test_split(
    X, y_labname, y_labvalue, test_size=0.2, random_state=42
)

In [54]:
import numpy as np
import pandas as pd
from sklearn.utils import class_weight
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, LSTM, Dense, Dropout, BatchNormalization, Bidirectional
from tensorflow.keras.optimizers import Adam

# Assuming X_reshaped, y_labname, y_labvalue are your preprocessed inputs
# Reshape X to 3D (samples, timesteps, features) as required for LSTM
X_reshaped = X.reshape((X.shape[0], X.shape[1], 1))

# Define the number of classes for multilabel classification (use sigmoid output)
num_classes = y_labname.shape[1]

# Calculate class weights for each label (since it's multilabel, you might need weights for each label)
# You can skip this step if weights aren't necessary for the multilabel case
class_weights = class_weight.compute_class_weight('balanced',
                                                  classes=np.unique(np.argmax(y_labname, axis=1)),
                                                  y=np.argmax(y_labname, axis=1))
class_weights_dict = dict(enumerate(class_weights))

# LSTM model architecture
inputs = Input(shape=(X_reshaped.shape[1], 1))

# Bidirectional LSTM layers
x = Bidirectional(LSTM(128, return_sequences=True))(inputs)
x = BatchNormalization()(x)
x = Dropout(0.2)(x)

x = Bidirectional(LSTM(256, return_sequences=False))(x)
x = BatchNormalization()(x)
x = Dropout(0.2)(x)

# Dense layers for further processing
x = Dense(128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.001))(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

x = Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.001))(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

# Output for multilabel classification (sigmoid activation for multilabel classification)
output_class = Dense(num_classes, activation='sigmoid', name='classification_output')(x)

# Output for regression (labvalue)
output_regression = Dense(1, activation='linear', name='regression_output')(x)

# Create the model
model = Model(inputs=inputs, outputs=[output_class, output_regression])

# Compile the model with binary cross-entropy for multilabel classification
model.compile(
    optimizer=Adam(learning_rate=0.001),
    loss={'classification_output': 'binary_crossentropy', 'regression_output': 'mse'},
    metrics={'classification_output': ['binary_accuracy'], 'regression_output': ['mae']}
)

# Model summary
model.summary()

# Train the model (with or without sample weights for classification)

Model: "model_6"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_8 (InputLayer)        [(None, 8, 1)]               0         []

 bidirectional_8 (Bidirecti  (None, 8, 256)               133120    ['input_8[0][0]']
 onal)

 batch_normalization_27 (Ba  (None, 8, 256)               1024      ['bidirectional_8[0][0]']
 tchNormalization)

 dropout_27 (Dropout)        (None, 8, 256)               0         ['batch_normalization_27[0][0]
                                                                    ']

 bidirectional_9 (Bidirecti  (None, 512)                  1050624   ['dropout_27[0][0]']
 onal)

 batch_normalization_28 (Ba  (None, 512)                  2048      ['bidirectional_9[0][0]']
 tchNormalization)

 dropout_28 (Dropout)        (None, 512)                  0         ['batch_normalization_28[0][0]
                                                                    ']

 dense_15 (Dense)            (None, 128)                  65664     ['dropout_28[0][0]']

 batch_normalization_29 (Ba  (None, 128)                  512       ['dense_15[0][0]']
 tchNormalization)

 dropout_29 (Dropout)        (None, 128)                  0         ['batch_normalization_29[0][0]
                                                                    ']

 dense_16 (Dense)            (None, 64)                   8256      ['dropout_29[0][0]']

 batch_normalization_30 (Ba  (None, 64)                   256       ['dense_16[0][0]']
 tchNormalization)

 dropout_30 (Dropout)        (None, 64)                   0         ['batch_normalization_30[0][0]
                                                                    ']

 classification_output (Den  (None, 3)                    195       ['dropout_30[0][0]']
 se)

 regression_output (Dense)   (None, 1)                    65        ['dropout_30[0][0]']

==================================================================================================
Total params: 1261764 (4.81 MB)
Trainable params: 1259844 (4.81 MB)
Non-trainable params: 1920 (7.50 KB)
__________________________________________________________________________________________________

In [36]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [35]:
callbacks = [
    ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=1e-6),
    EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True),
    TensorBoard(log_dir=log_dir, histogram_freq=1)
]

In [55]:
history = model.fit(
    X_reshaped,
    {'classification_output': y_labname, 'regression_output': y_labvalue},
    epochs=50,
    batch_size=128,
    validation_split=0.2
)

Epoch 1/50
24/24 [==============================] - 15s 212ms/step - loss: 47.3429 - classification_output_loss: 0.9058 - regression_output_loss: 46.1441 - classification_output_binary_accuracy: 0.5018 - regression_output_mae: 4.9755 - val_loss: 39.0783 - val_classification_output_loss: 0.7064 - val_regression_output_loss: 38.0779 - val_classification_output_binary_accuracy: 0.5000 - val_regression_output_mae: 4.8691
Epoch 2/50
24/24 [==============================] - 3s 139ms/step - loss: 43.7774 - classification_output_loss: 0.8750 - regression_output_loss: 42.6078 - classification_output_binary_accuracy: 0.4954 - regression_output_mae: 4.6883 - val_loss: 35.4289 - val_classification_output_loss: 0.7224 - val_regression_output_loss: 34.4113 - val_classification_output_binary_accuracy: 0.4484 - val_regression_output_mae: 4.4754
Epoch 3/50
24/24 [==============================] - 4s 148ms/step - loss: 41.4854 - classification_output_loss: 0.8270 - regression_output_loss: 40.3629 - classification_output_binary_accuracy: 0.4962 - regression_output_mae: 4.4398 - val_loss: 32.4641 - val_classification_output_loss: 0.7136 - val_regression_output_loss: 31.4546 - val_classification_output_binary_accuracy: 0.5026 - val_regression_output_mae: 4.1317
Epoch 4/50
24/24 [==============================] - 4s 150ms/step - loss: 39.4265 - classification_output_loss: 0.8145 - regression_output_loss: 38.3159 - classification_output_binary_accuracy: 0.5038 - regression_output_mae: 4.2269 - val_loss: 29.6693 - val_classification_output_loss: 0.6825 - val_regression_output_loss: 28.6904 - val_classification_output_binary_accuracy: 0.5284 - val_regression_output_mae: 3.7902
Epoch 5/50
24/24 [==============================] - 4s 153ms/step - loss: 36.8318 - classification_output_loss: 0.7858 - regression_output_loss: 35.7493 - classification_output_binary_accuracy: 0.5148 - regression_output_mae: 3.9510 - val_loss: 27.2773 - val_classification_output_loss: 0.6655 - val_regression_output_loss: 26.3148 - val_classification_output_binary_accuracy: 0.5542 - val_regression_output_mae: 3.5041
Epoch 6/50
24/24 [==============================] - 3s 144ms/step - loss: 34.0916 - classification_output_loss: 0.7551 - regression_output_loss: 33.0393 - classification_output_binary_accuracy: 0.5286 - regression_output_mae: 3.6433 - val_loss: 24.5952 - val_classification_output_loss: 0.6514 - val_regression_output_loss: 23.6463 - val_classification_output_binary_accuracy: 0.6557 - val_regression_output_mae: 3.2161
Epoch 7/50
24/24 [==============================] - 4s 154ms/step - loss: 31.2149 - classification_output_loss: 0.7318 - regression_output_loss: 30.1854 - classification_output_binary_accuracy: 0.5467 - regression_output_mae: 3.3968 - val_loss: 21.6131 - val_classification_output_loss: 0.6443 - val_regression_output_loss: 20.6708 - val_classification_output_binary_accuracy: 0.6570 - val_regression_output_mae: 2.9064
Epoch 8/50
24/24 [==============================] - 4s 158ms/step - loss: 29.3279 - classification_output_loss: 0.7110 - regression_output_loss: 28.3188 - classification_output_binary_accuracy: 0.5677 - regression_output_mae: 3.1808 - val_loss: 20.0186 - val_classification_output_loss: 0.6305 - val_regression_output_loss: 19.0897 - val_classification_output_binary_accuracy: 0.6662 - val_regression_output_mae: 2.7290
Epoch 9/50
24/24 [==============================] - 4s 155ms/step - loss: 27.5336 - classification_output_loss: 0.6913 - regression_output_loss: 26.5436 - classification_output_binary_accuracy: 0.5875 - regression_output_mae: 2.9528 - val_loss: 18.3050 - val_classification_output_loss: 0.6230 - val_regression_output_loss: 17.3830 - val_classification_output_binary_accuracy: 0.6658 - val_regression_output_mae: 2.5352
Epoch 10/50
24/24 [==============================] - 4s 160ms/step - loss: 25.7569 - classification_output_loss: 0.6742 - regression_output_loss: 24.7833 - classification_output_binary_accuracy: 0.6161 - regression_output_mae: 2.8971 - val_loss: 17.2269 - val_classification_output_loss: 0.6248 - val_regression_output_loss: 16.3023 - val_classification_output_binary_accuracy: 0.6640 - val_regression_output_mae: 2.4312
Epoch 11/50
24/24 [==============================] - 4s 156ms/step - loss: 24.6726 - classification_output_loss: 0.6640 - regression_output_loss: 23.7086 - classification_output_binary_accuracy: 0.6249 - regression_output_mae: 2.7878 - val_loss: 16.2898 - val_classification_output_loss: 0.6238 - val_regression_output_loss: 15.3656 - val_classification_output_binary_accuracy: 0.6640 - val_regression_output_mae: 2.4171
Epoch 12/50
24/24 [==============================] - 4s 159ms/step - loss: 23.6707 - classification_output_loss: 0.6582 - regression_output_loss: 22.7118 - classification_output_binary_accuracy: 0.6344 - regression_output_mae: 2.7368 - val_loss: 15.9179 - val_classification_output_loss: 0.6244 - val_regression_output_loss: 14.9924 - val_classification_output_binary_accuracy: 0.6667 - val_regression_output_mae: 2.4201
Epoch 13/50
24/24 [==============================] - 4s 153ms/step - loss: 23.1701 - classification_output_loss: 0.6516 - regression_output_loss: 22.2173 - classification_output_binary_accuracy: 0.6475 - regression_output_mae: 2.7183 - val_loss: 15.5160 - val_classification_output_loss: 0.6207 - val_regression_output_loss: 14.5938 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.5007
Epoch 14/50
24/24 [==============================] - 4s 157ms/step - loss: 23.1510 - classification_output_loss: 0.6501 - regression_output_loss: 22.1992 - classification_output_binary_accuracy: 0.6446 - regression_output_mae: 2.7657 - val_loss: 15.7897 - val_classification_output_loss: 0.6216 - val_regression_output_loss: 14.8662 - val_classification_output_binary_accuracy: 0.6654 - val_regression_output_mae: 2.5617
Epoch 15/50
24/24 [==============================] - 4s 154ms/step - loss: 22.9897 - classification_output_loss: 0.6481 - regression_output_loss: 22.0395 - classification_output_binary_accuracy: 0.6447 - regression_output_mae: 2.7529 - val_loss: 15.7222 - val_classification_output_loss: 0.6199 - val_regression_output_loss: 14.8001 - val_classification_output_binary_accuracy: 0.6632 - val_regression_output_mae: 2.6139
Epoch 16/50
24/24 [==============================] - 4s 154ms/step - loss: 22.7678 - classification_output_loss: 0.6402 - regression_output_loss: 21.8251 - classification_output_binary_accuracy: 0.6539 - regression_output_mae: 2.7684 - val_loss: 15.4433 - val_classification_output_loss: 0.6207 - val_regression_output_loss: 14.5200 - val_classification_output_binary_accuracy: 0.6601 - val_regression_output_mae: 2.5490
Epoch 17/50
24/24 [==============================] - 4s 155ms/step - loss: 22.8752 - classification_output_loss: 0.6423 - regression_output_loss: 21.9301 - classification_output_binary_accuracy: 0.6528 - regression_output_mae: 2.7685 - val_loss: 15.3849 - val_classification_output_loss: 0.6196 - val_regression_output_loss: 14.4623 - val_classification_output_binary_accuracy: 0.6671 - val_regression_output_mae: 2.5173
Epoch 18/50
24/24 [==============================] - 4s 182ms/step - loss: 22.8750 - classification_output_loss: 0.6359 - regression_output_loss: 21.9360 - classification_output_binary_accuracy: 0.6586 - regression_output_mae: 2.7707 - val_loss: 15.2381 - val_classification_output_loss: 0.6196 - val_regression_output_loss: 14.3151 - val_classification_output_binary_accuracy: 0.6636 - val_regression_output_mae: 2.5380
Epoch 19/50
24/24 [==============================] - 4s 167ms/step - loss: 22.2802 - classification_output_loss: 0.6317 - regression_output_loss: 21.3451 - classification_output_binary_accuracy: 0.6624 - regression_output_mae: 2.7473 - val_loss: 15.3258 - val_classification_output_loss: 0.6187 - val_regression_output_loss: 14.4035 - val_classification_output_binary_accuracy: 0.6592 - val_regression_output_mae: 2.5950
Epoch 20/50
24/24 [==============================] - 4s 165ms/step - loss: 22.9703 - classification_output_loss: 0.6373 - regression_output_loss: 22.0294 - classification_output_binary_accuracy: 0.6569 - regression_output_mae: 2.8110 - val_loss: 15.3083 - val_classification_output_loss: 0.6203 - val_regression_output_loss: 14.3842 - val_classification_output_binary_accuracy: 0.6601 - val_regression_output_mae: 2.5018
Epoch 21/50
24/24 [==============================] - 4s 150ms/step - loss: 22.4709 - classification_output_loss: 0.6323 - regression_output_loss: 21.5348 - classification_output_binary_accuracy: 0.6600 - regression_output_mae: 2.7391 - val_loss: 15.3796 - val_classification_output_loss: 0.6185 - val_regression_output_loss: 14.4572 - val_classification_output_binary_accuracy: 0.6619 - val_regression_output_mae: 2.5494
Epoch 22/50
24/24 [==============================] - 4s 159ms/step - loss: 21.8898 - classification_output_loss: 0.6337 - regression_output_loss: 20.9522 - classification_output_binary_accuracy: 0.6565 - regression_output_mae: 2.7233 - val_loss: 15.3224 - val_classification_output_loss: 0.6181 - val_regression_output_loss: 14.4003 - val_classification_output_binary_accuracy: 0.6627 - val_regression_output_mae: 2.4801
Epoch 23/50
24/24 [==============================] - 4s 152ms/step - loss: 22.2033 - classification_output_loss: 0.6306 - regression_output_loss: 21.2686 - classification_output_binary_accuracy: 0.6601 - regression_output_mae: 2.7430 - val_loss: 15.1559 - val_classification_output_loss: 0.6162 - val_regression_output_loss: 14.2357 - val_classification_output_binary_accuracy: 0.6649 - val_regression_output_mae: 2.5585
Epoch 24/50
24/24 [==============================] - 4s 155ms/step - loss: 22.2610 - classification_output_loss: 0.6285 - regression_output_loss: 21.3285 - classification_output_binary_accuracy: 0.6569 - regression_output_mae: 2.7358 - val_loss: 15.2788 - val_classification_output_loss: 0.6170 - val_regression_output_loss: 14.3577 - val_classification_output_binary_accuracy: 0.6658 - val_regression_output_mae: 2.4930
Epoch 25/50
24/24 [==============================] - 4s 183ms/step - loss: 21.9841 - classification_output_loss: 0.6253 - regression_output_loss: 21.0546 - classification_output_binary_accuracy: 0.6623 - regression_output_mae: 2.6884 - val_loss: 15.1880 - val_classification_output_loss: 0.6161 - val_regression_output_loss: 14.2679 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.5449
Epoch 26/50
24/24 [==============================] - 5s 196ms/step - loss: 22.3258 - classification_output_loss: 0.6235 - regression_output_loss: 21.3982 - classification_output_binary_accuracy: 0.6645 - regression_output_mae: 2.7284 - val_loss: 15.2741 - val_classification_output_loss: 0.6163 - val_regression_output_loss: 14.3536 - val_classification_output_binary_accuracy: 0.6689 - val_regression_output_mae: 2.5616
Epoch 27/50
24/24 [==============================] - 4s 173ms/step - loss: 22.4125 - classification_output_loss: 0.6270 - regression_output_loss: 21.4814 - classification_output_binary_accuracy: 0.6585 - regression_output_mae: 2.7389 - val_loss: 15.1796 - val_classification_output_loss: 0.6164 - val_regression_output_loss: 14.2591 - val_classification_output_binary_accuracy: 0.6689 - val_regression_output_mae: 2.4966
Epoch 28/50
24/24 [==============================] - 4s 158ms/step - loss: 22.4075 - classification_output_loss: 0.6261 - regression_output_loss: 21.4772 - classification_output_binary_accuracy: 0.6578 - regression_output_mae: 2.7317 - val_loss: 15.1802 - val_classification_output_loss: 0.6170 - val_regression_output_loss: 14.2590 - val_classification_output_binary_accuracy: 0.6671 - val_regression_output_mae: 2.4883
Epoch 29/50
24/24 [==============================] - 4s 154ms/step - loss: 21.9510 - classification_output_loss: 0.6234 - regression_output_loss: 21.0235 - classification_output_binary_accuracy: 0.6652 - regression_output_mae: 2.6929 - val_loss: 15.2331 - val_classification_output_loss: 0.6173 - val_regression_output_loss: 14.3116 - val_classification_output_binary_accuracy: 0.6636 - val_regression_output_mae: 2.4701
Epoch 30/50
24/24 [==============================] - 4s 154ms/step - loss: 22.1153 - classification_output_loss: 0.6244 - regression_output_loss: 21.1868 - classification_output_binary_accuracy: 0.6610 - regression_output_mae: 2.7154 - val_loss: 15.1402 - val_classification_output_loss: 0.6183 - val_regression_output_loss: 14.2177 - val_classification_output_binary_accuracy: 0.6680 - val_regression_output_mae: 2.4946
Epoch 31/50
24/24 [==============================] - 4s 156ms/step - loss: 22.0718 - classification_output_loss: 0.6232 - regression_output_loss: 21.1445 - classification_output_binary_accuracy: 0.6614 - regression_output_mae: 2.7143 - val_loss: 15.0645 - val_classification_output_loss: 0.6173 - val_regression_output_loss: 14.1432 - val_classification_output_binary_accuracy: 0.6684 - val_regression_output_mae: 2.4825
Epoch 32/50
24/24 [==============================] - 4s 154ms/step - loss: 21.9220 - classification_output_loss: 0.6237 - regression_output_loss: 20.9944 - classification_output_binary_accuracy: 0.6601 - regression_output_mae: 2.6948 - val_loss: 15.1327 - val_classification_output_loss: 0.6169 - val_regression_output_loss: 14.2118 - val_classification_output_binary_accuracy: 0.6689 - val_regression_output_mae: 2.4472
Epoch 33/50
24/24 [==============================] - 4s 155ms/step - loss: 21.7468 - classification_output_loss: 0.6229 - regression_output_loss: 20.8200 - classification_output_binary_accuracy: 0.6645 - regression_output_mae: 2.6947 - val_loss: 15.1302 - val_classification_output_loss: 0.6159 - val_regression_output_loss: 14.2104 - val_classification_output_binary_accuracy: 0.6693 - val_regression_output_mae: 2.4850
Epoch 34/50
24/24 [==============================] - 4s 164ms/step - loss: 21.7245 - classification_output_loss: 0.6240 - regression_output_loss: 20.7967 - classification_output_binary_accuracy: 0.6628 - regression_output_mae: 2.6821 - val_loss: 15.0651 - val_classification_output_loss: 0.6159 - val_regression_output_loss: 14.1453 - val_classification_output_binary_accuracy: 0.6693 - val_regression_output_mae: 2.5260
Epoch 35/50
24/24 [==============================] - 5s 192ms/step - loss: 21.7495 - classification_output_loss: 0.6215 - regression_output_loss: 20.8241 - classification_output_binary_accuracy: 0.6611 - regression_output_mae: 2.6916 - val_loss: 15.0682 - val_classification_output_loss: 0.6165 - val_regression_output_loss: 14.1477 - val_classification_output_binary_accuracy: 0.6680 - val_regression_output_mae: 2.5092
Epoch 36/50
24/24 [==============================] - 4s 189ms/step - loss: 21.5911 - classification_output_loss: 0.6214 - regression_output_loss: 20.6658 - classification_output_binary_accuracy: 0.6682 - regression_output_mae: 2.6919 - val_loss: 15.0720 - val_classification_output_loss: 0.6156 - val_regression_output_loss: 14.1525 - val_classification_output_binary_accuracy: 0.6684 - val_regression_output_mae: 2.5005
Epoch 37/50
24/24 [==============================] - 5s 190ms/step - loss: 21.7386 - classification_output_loss: 0.6211 - regression_output_loss: 20.8136 - classification_output_binary_accuracy: 0.6657 - regression_output_mae: 2.6964 - val_loss: 14.9541 - val_classification_output_loss: 0.6164 - val_regression_output_loss: 14.0339 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.5066
Epoch 38/50
24/24 [==============================] - 5s 205ms/step - loss: 21.6451 - classification_output_loss: 0.6200 - regression_output_loss: 20.7212 - classification_output_binary_accuracy: 0.6624 - regression_output_mae: 2.6791 - val_loss: 15.0581 - val_classification_output_loss: 0.6164 - val_regression_output_loss: 14.1378 - val_classification_output_binary_accuracy: 0.6684 - val_regression_output_mae: 2.5046
Epoch 39/50
24/24 [==============================] - 4s 177ms/step - loss: 21.1406 - classification_output_loss: 0.6210 - regression_output_loss: 20.2157 - classification_output_binary_accuracy: 0.6644 - regression_output_mae: 2.6558 - val_loss: 15.0494 - val_classification_output_loss: 0.6155 - val_regression_output_loss: 14.1301 - val_classification_output_binary_accuracy: 0.6680 - val_regression_output_mae: 2.4721
Epoch 40/50
24/24 [==============================] - 5s 201ms/step - loss: 21.3361 - classification_output_loss: 0.6196 - regression_output_loss: 20.4126 - classification_output_binary_accuracy: 0.6651 - regression_output_mae: 2.6616 - val_loss: 15.0709 - val_classification_output_loss: 0.6149 - val_regression_output_loss: 14.1521 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.4740
Epoch 41/50
24/24 [==============================] - 5s 190ms/step - loss: 21.9020 - classification_output_loss: 0.6186 - regression_output_loss: 20.9794 - classification_output_binary_accuracy: 0.6669 - regression_output_mae: 2.7158 - val_loss: 15.0881 - val_classification_output_loss: 0.6148 - val_regression_output_loss: 14.1691 - val_classification_output_binary_accuracy: 0.6689 - val_regression_output_mae: 2.4866
Epoch 42/50
24/24 [==============================] - 5s 188ms/step - loss: 21.7178 - classification_output_loss: 0.6201 - regression_output_loss: 20.7934 - classification_output_binary_accuracy: 0.6632 - regression_output_mae: 2.6849 - val_loss: 14.9505 - val_classification_output_loss: 0.6147 - val_regression_output_loss: 14.0314 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.5257
Epoch 43/50
24/24 [==============================] - 4s 186ms/step - loss: 21.3455 - classification_output_loss: 0.6195 - regression_output_loss: 20.4216 - classification_output_binary_accuracy: 0.6620 - regression_output_mae: 2.6495 - val_loss: 14.9757 - val_classification_output_loss: 0.6149 - val_regression_output_loss: 14.0562 - val_classification_output_binary_accuracy: 0.6675 - val_regression_output_mae: 2.4916
Epoch 44/50
24/24 [==============================] - 5s 194ms/step - loss: 21.5704 - classification_output_loss: 0.6200 - regression_output_loss: 20.6457 - classification_output_binary_accuracy: 0.6654 - regression_output_mae: 2.6772 - val_loss: 15.1153 - val_classification_output_loss: 0.6162 - val_regression_output_loss: 14.1942 - val_classification_output_binary_accuracy: 0.6684 - val_regression_output_mae: 2.4429
Epoch 45/50
24/24 [==============================] - 5s 195ms/step - loss: 21.4950 - classification_output_loss: 0.6199 - regression_output_loss: 20.5702 - classification_output_binary_accuracy: 0.6644 - regression_output_mae: 2.6761 - val_loss: 15.0870 - val_classification_output_loss: 0.6158 - val_regression_output_loss: 14.1662 - val_classification_output_binary_accuracy: 0.6671 - val_regression_output_mae: 2.4823
Epoch 46/50
24/24 [==============================] - 5s 189ms/step - loss: 21.4667 - classification_output_loss: 0.6191 - regression_output_loss: 20.5426 - classification_output_binary_accuracy: 0.6651 - regression_output_mae: 2.6553 - val_loss: 15.0248 - val_classification_output_loss: 0.6158 - val_regression_output_loss: 14.1040 - val_classification_output_binary_accuracy: 0.6645 - val_regression_output_mae: 2.4651
Epoch 47/50
24/24 [==============================] - 4s 164ms/step - loss: 21.3300 - classification_output_loss: 0.6184 - regression_output_loss: 20.4067 - classification_output_binary_accuracy: 0.6671 - regression_output_mae: 2.6618 - val_loss: 15.1504 - val_classification_output_loss: 0.6166 - val_regression_output_loss: 14.2288 - val_classification_output_binary_accuracy: 0.6667 - val_regression_output_mae: 2.4680
Epoch 48/50

In [56]:
# Evaluate the model
loss, class_loss, reg_loss, class_acc, reg_mae = model.evaluate(
    X_test,
    {'classification_output': y_test_labname, 'regression_output': y_test_labvalue}
)

print(f'Test Loss: {loss}, Classification Accuracy: {class_acc}, Regression MAE: {reg_mae}')

24/24 [==============================] - 1s 31ms/step - loss: 19.9569 - classification_output_loss: 0.6098 - regression_output_loss: 19.0414 - classification_output_binary_accuracy: 0.6662 - regression_output_mae: 2.4762
Test Loss: 19.956920623779297, Classification Accuracy: 0.6662293076515198, Regression MAE: 2.4761598110198975

In [57]:
# Save the entire model to a HDF5 file (single file for architecture, weights, and optimizer state)
model.save('my_model.h5')

c:\Users\HF\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(